:root{
    --color1: rgb(24,144,218);
    --color2: rgb(232,232,232);
    --color3: rgb(152,152,152);
    --fontColor1: black;
    --fontColor2: white;
}
*{
    box-sizing: border-box;
    margin: 0px;
    border: 0px;
}
html{
    font-size: 62.5%;
    font-family: -apple-system, BlinkMacSystemFont;
}
header{
    display: flex;
    align-items: center;
    width: 100vw;    
    height: 10vh;
    background-color: var(--color1);
}
nav{
    display: flex;
    align-items:baseline
}
.main-nav{
    display: inline-flex;
    list-style: none;
    font-size: 35px;
    color: var(--fontColor2);
}
.main-nav li{
    padding-right: 20px;
}
.content{
    background-color: var(--color2);
    width: 100vw;
    height: 85vh;
}
.content--opciones{
    height: 100%;
    display: inline-block;
    width: 25%;
    background-color: var(--color3);
}
.option-nav{
    list-style: none;
    text-align: center;
    padding: 0px;
}
.option-nav li{
    background-color: var(--color2) ;
    border: 2px solid var(--fontColor1);
    border-radius: 10px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 43px;
    margin-bottom: ;
    height: 200px;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 5vh;
    background-color: white;
    border: 2px solid rgb(152, 152,152);
}
.footer nav{
    justify-content: center;
    font-size: 1.9rem;
}